@inherits BlazorLayoutComponent

<div class="container body-content">
    @Body
    <hr />
    <footer>
        <p>Data courtesy of <a href="http://starwars.wikia.com/wiki/Timeline_of_canon_media">Wookieepedia</a></p>
        <p>Developed in part for <a href="https://starwarschecklist.com">Star Wars Canon Checklist</a></p>
    </footer>
</div>
